// Typography

@include font-face("DIN-Next-Regular", "assets/fonts/DIN-Next-Regular");
@include font-face("DIN-Next-Regular-it", "assets/fonts/DIN-Next-Regular-it");

@include font-face("DIN-Next-Bold", "assets/fonts/DIN-Next-Bold");
@include font-face("DIN-Next-Bold-it", "assets/fonts/DIN-Next-Bold-it");

$regular-font: "DIN-Next-Regular";
$regular-font_italic: "DIN-Next-Regular-it";
$bold-font: "DIN-Next-Bold";
$bold-font_italic: "DIN-Next-Bold-";

$base-font-family: $regular-font;
$heading-font-family: $bold-font;

// Line height
$base-line-height: 1.7;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// color palettes:


$lightColor: #ccc; // light gray
$darkColor: #333; // dark gray

$medColor: #007e72; // dark green

$headerColor: #e0d6bf; // light yellow
$bodyColor: #8cd8d0; // turquoise



// Font Colors
$base-font-color: $darkColor;
$action-color: $medColor;

// Border
$base-border-color: $darkColor;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: $bodyColor;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 0;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: -3px;

// Animations
$base-duration: 150ms;
$base-timing: ease;